:root {
  font-family: 'Roboto', sans-serif; /* system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.15;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;

  color-scheme: light dark;
  color: #47343c;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: scrollbar;
}

*,
 ::after,
 ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html[browser="firefox"],
html[browser="edge"],
html[browser="firefox"] body , 
html[browser="edge"] body { 
  font-weight: 300; 
  font-size: 15.5px;
}

.content,
article,
aside,
main,
footer,
header,
nav,
section {
    display: block;
}

body {
    overflow: auto;
}

a,
a:hover,
a:visited {
    color: #47343c;
    text-decoration: none;
}

a {
    cursor: pointer;
}
